/* ----------------------------------------------------------------------------
* Variables
* ------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------
* Custom Website Fonts
* ------------------------------------------------------------------------- */

$font_basic: 'Lato', 'Open Sans', sans-serif;

/* ----------------------------------------------------------------------------
* Custom Website Colors
* ------------------------------------------------------------------------- */
// Colors
$tc_basic: #4e4e4e;
$tc_further: #1a92da;
$tc_hover: #0e96eb;
$tc_active: #298dca;

$cc_basic: #138cd8;
$cc_further1: #0a90e4;
$cc_further2: #3f8ec0;
$cc_further3: #c3c3c3;
$cc_further4: #ccc;

$bc_basic: #eee;
